<div>
  <h1>Hello, <%= current_user.name %> <%= current_user.last_name %></h1>
  <h3>COMPANY NAME:
    <% if current_user.company_name.empty? %>
      No company defined :(
    <% else %>
      <%= current_user.company_name %>
    <% end %>
  </h3>
</div>

<br />

<div class="landingsearch">
  <h3>Add a Hashtag that you would like to track over time</h3>
  <%= form_tag profile_path do %>
    <%= label_tag(:hash_tag, "") %>
    <div id="search-box" class="search-state">
      <%= text_field_tag(:hash_tag, "&#xf002;".html_safe,
                         required: true, :class=> "searchfield") %>
​
    </div>
  <% end %>
</div>

<br />

<div>
  <h2> Saved Searches</h2>
  <% @saved_searches.each do |search_item| %>
  <%= search_item.search %>
  <% end  %>
</div>


<%= line_chart current_user.saved_searches.group(:created_at).count %>
