<nav>
  <p>
    <%= link_to 'New User', new_user_registration_path %>
  </p>
</nav>

<h1>EmojiSentiment</h1>

<%= form_tag search_path do %>
  <%= label_tag(:hash_tag, "") %>
  <%= text_field_tag(:hash_tag, "#", required: true) %>
  <%= submit_tag("Search") %>
<% end %>


<% if @tweets %>

  <% @tweets.each do |tweet| %>
  <p>
    <%= tweet[0][0] %><br />
    <%= tweet[1] %>
  </p>
  <% end %>
<% end %>
