<div class="descriptionlanding">
  <div class="logo">
    <img src="/assets/emojisentiment_logo-02.png" alt="EmojiSentiment_logo">
  </div>
  <div class="description">
    <p>
      Next level brunch mumblecore umami offal. Mumblecore truffaut meh umami DIY,
      twee forage fixie quinoa keffiyeh crucifix XOXO. Tumblr waistcoat retro tousled four loko, swag

      Next level brunch mumblecore umami offal. Mumblecore truffaut meh umami DIY,  truffaut meh
      twee forage fixie quinoa keffiyeh crucifix XOXO. Tumblr waistcoat retro tousled f
    </p>
  </div>
  <div class="landingsearch">
    <%= form_tag search_path do %>
      <%= label_tag(:hash_tag, "") %>

      <%= text_field_tag(:hash_tag, "#", required: true, :class=> "searchfield") %>
      <!-- <%= submit_tag("Search")%> -->
      <%= button_tag( :class => "searchicon" ) do %>
        <i class="fa fa-search"></i>
      <% end %>

    <% end %>


    <% if @tweets %>
      <% @sentiments.each do |sentiment| %>
      <p>
        <%= "Sentiment Score: #{sentiment}%" %>
      </p>

     <% end %>
    <%= "General Sentiment Score: #{@average_sentiment}%" %>
     <%  @tweets.each do |tweet| %>
     <p>
       <%= tweet[0][0] %><br />
       <%= tweet[1] %>
     </p>
      <% end %>
    <% end %>
  </div>
</div>


<!-- <%= line_chart Sentiment.group(:sentiment).count %> -->
