<h1>#EmojiSentiment<\3</h1>

<%= form_tag search_path do %>
  <%= label_tag(:hash_tag, "") %>
  <%= text_field_tag(:hash_tag, "#", required: true) %>
  <%= submit_tag("Search") %>
<% end %>


<% if @tweets %>
  <% @sentiments.each do |sentiment| %>
  <p>
    <%= "Sentiment Score: #{sentiment}%" %>
  </p>

 <% end %>
<%= "General Sentiment Score: #{@average_sentiment}%" %>
 <%  @tweets.each do |tweet| %>
 <p>
   <%= tweet[0][0] %><br />
   <%= tweet[1] %>
 </p>
 <% end %>
<% end %>



<!-- <%= line_chart Sentiment.group(:sentiment).count %> -->
