<h1>EmojiSentiment</h1>

<%= form_tag search_path do %>
  <%= label_tag(:hash_tag, "") %>
  <%= text_field_tag(:hash_tag) %>
  <%= submit_tag("Search") %>
<% end %>


<% if @tweets %>

  <% @tweets.each do |tweet| %>
  <p>
    <%= tweet.text %>
  </p>
  <% end %>
<% end %>
