<div id="show-page">


  <div class="showresults">
    <div class="search_hashtag">
      #<%= @hash_tag %>
    </div>
    <div class="description_emoji_search">
      <p>
        Next level brunch mumblecore umami offal. Mumblecore truffaut meh umami DIY,
        twee forage fixie quinoa keffiyeh crucifix XOXO. Tumblr waistcoat retro tousled four loko, swag next level brunch
      </p>
    </div>
    <% if @tweets && @tweets[0] && @sentiments.all? { |sentiment| sentiment } %>
    <%= render 'tweet_totals' %>
    <%= render 'tweet_singles' %>

    <div id="topEmoji">
      <%= render 'topEmoji' %>
    </div>

    <div id="secondPlaceEmoji">
      <%= render 'secondPlaceEmoji' %>
    </div>

    <div id="thirdPlaceEmoji">
      <%= render 'thirdPlaceEmoji' %>
    </div>

    <% end  %>


    <div id="sentiment-data-popup">
      <div class="agregate_sentiment_board_description">
        <div class="container">
          <div class="sentiment_description">
            Sentiment: <span>Measured in a scale from 0 - 100</span>
          </div>
          <div class="sentiment_description">
            Aggregate Sentiment: <span>Avg top 3 Emojis</span>
          </div>
        </div>
        <div class="description_links">
          <span>Emoji sentiment based on: <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0144296" target="_blank">Emoji Sentiment Ranking 1.0</a><span>
            <span class="sentiment_color">
              <span class="c_1">0 = Negativity <i class="fa fa-circle" aria-hidden="true"></i></span>
              <span class="c_2">50 = Neutrality <i class="fa fa-circle" aria-hidden="true"></i></span>
              <span class="c_3">100 = Positivity <i class="fa fa-circle" aria-hidden="true"></i></span>
            </span>
          </div>
        </div>
      <!-- <div class="agregate_sentiment_board_description">
        <p>Aggregate Sentiment</p>
        <div class="container">
          <span class="sentiment_description">
            Sentiment: <span>Measured in a scale from 0 - 100</span>
          </span>
          <span class="agregate_sentiment_description">
            Avg top 3 Emojis
          </span>
        </div>
        <div class="description_links">
          <span>Emoji sentiment based on: <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0144296" target="_blank">Emoji Sentiment Ranking 1.0</a><span>
            <span class="sentiment_color">
              <span class="c_1">0 = Negativity <i class="fa fa-circle" aria-hidden="true"></i></span>
              <span class="c_2">50 = Neutrality <i class="fa fa-circle" aria-hidden="true"></i></span>
              <span class="c_3">100 = Positivity <i class="fa fa-circle" aria-hidden="true"></i></span>
            </span>
          </div>
        </div> -->
      </div>


    </div>

    <div class="backarrow show-nav">
      <%= link_to "<img src='/assets/arrow-03.png' alt='arrow'>".html_safe, root_path %>
    </div>
  </div>
