<div class="showresults">

<div class="search_hashtag">
  #<%= @hash_tag %>
</div>
<div class="description_emoji_search">
  <p>
    Next level brunch mumblecore umami offal. Mumblecore truffaut meh umami DIY,
    twee forage fixie quinoa keffiyeh crucifix XOXO. Tumblr waistcoat retro tousled four loko, swag next level brunch
</div>

<div class="agregate_sentiment_board">
  <p>Total Associated Tweets <i class="fa fa-twitter" aria-hidden="true"></i></p>
  <div class="container">
    <span class="agregate_sentiment">
      Agregate Sentiment: <span><%= "#{@average_sentiment}" %></span>
    </span>
    <span class="agregate_total_tweets">
      <%= @total_aggregate_tweets %>
    </span>
  </div>
    <div class="sentiment_bar">
    </div>
    <div class="numbers">
      <span>0</span>
      <span>|</span>
      <span>|</span>
      <span>|</span>
      <span>|</span>
      <span>50</span>
      <span>|</span>
      <span>|</span>
      <span>|</span>
      <span>|</span>
      <span>100</span>
    </div>
</div>

<div class="single_sentiment_board">
  <% if @tweets %>
    <% @sentiments.zip(@tweets) do |sentiment, tweet| %>
    <div class="container_board">
      <p> Sentiment </p>
      <div class="container">
        <span class="single_emoji"><%= tweet[0][0] %></span>
        <span class="single_emoji_sentiment"><%= sentiment %></span>
      </div>
      <div class="sentiment_bar">
      </div>
    </div>
    <% end %>
  <% end %>
</div>

</div>

<div class="backarrow">
  <%= link_to "<img src='/assets/arrow-03.png' alt='arrow'>".html_safe, root_path %>
</div>
