<!DOCTYPE html>
<html>
<head>
  <title>EmojiSentiment</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://use.typekit.net/zrc0tqc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://use.fontawesome.com/935af6820b.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.min.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.min.css.map"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.easings.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.slimscroll.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.slimscroll.min.js"></script>
  <script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['Home', 'Why', 'About', 'Contact'],
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: ['Home', 'Why', 'About', 'Contact']
			});
		});
	</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78157515-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>

  <div class="wrap">
    <% if current_page?(root_path) %>
      <div class="header">
          <ul class="navigation">
            <li><a href="#Home" class="home">HOME</a></li>
            <li><a href="#Why" class="why">WHY</a></li>
            <li><a href="#About" class="about">ABOUT</a></li>
            <li><a href="#Contact" class="contact">CONTACT</a></li>
          </ul>
          <!-- <ul class="sign_up_out">
            <% if user_signed_in? %>
                  Hello, <%= current_user.name %> <%= current_user.last_name %>
              <li><%= link_to('LOG OUT', destroy_user_session_path, :method => :delete) %></li>
              <% else %>
              <li><a class="modal-trigger" href="#modal1">LOG IN</a></li>
              <li><a class="modal-trigger" href="#modal2">SIGN UP</a></li>
            <% end %>
          </ul> -->
      </div>
    <% else %>
      <div class="header">
          <ul class="navigation">
            <li><a href="<%= root_path %>" class="home show-nav">HOME</a></li>
            <li><a href="<%= root_path %>#Why" class="why show-nav">WHY</a></li>
            <li><a href="<%= root_path %>#About" class="about show-nav">ABOUT</a></li>
            <li><a href="<%= root_path %>#Contact" class="contact show-nav">CONTACT</a></li>
          </ul>
          <!-- <ul class="sign_up_out">
            <% if user_signed_in? %>
                  Hello, <%= current_user.name %> <%= current_user.last_name %>
              <li><%= link_to('LOG OUT', destroy_user_session_path, :method => :delete) %></li>
              <% else %>
              <li><a class="modal-trigger" href="#modal1">LOG IN</a></li>
              <li><a class="modal-trigger" href="#modal2">SIGN UP</a></li>
            <% end %>
          </ul> -->
      </div>
    <% end %>
    <div class="content_body">
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <ul>
      <li>FAQ<li>
      <li>|<li>
      <li><a href="https://twitter.com/emojisentiment" target="_blank">Twitter</a><li>
      <li><a href="https://facebook.com/">Facebook</a><li>
  </div>


  <!-- <div id="modal1" class="modal">
      <div class="modal-content">
        <div>
          <%= render partial: 'login.html.erb' %>
        </div>
      </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <div>
        <%= render partial: 'register.html.erb' %>
      </div>
    </div>
  </div> -->

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
