<!DOCTYPE html>
<html>
<head>
  <title>EmojiSentiment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://use.typekit.net/zrc0tqc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://use.fontawesome.com/935af6820b.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.easings.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.slimscroll.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78157515-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>

  <div class="wrap">
    <% if current_page?(root_path) %>

      <div class="header">
          <ul class="navigation">
            <li><a href="#Home" class="home">HOME</a></li>
            <li><a href="#Why" class="why">WHY</a></li>
            <li><a href="#About" class="about">ABOUT</a></li>
            <li><a href="#Contact" class="contact">CONTACT</a></li>
          </ul>
      </div>

    <% else %>

      <div class="header">
          <ul class="navigation">
            <li><a href="<%= root_path %>#Home" class="home show-nav">HOME</a></li>
            <li><a href="<%= root_path %>#Why" class="why show-nav">WHY</a></li>
            <li><a href="<%= root_path %>#About" class="about show-nav">ABOUT</a></li>
            <li><a href="<%= root_path %>#Contact" class="contact show-nav">CONTACT</a></li>
          </ul>
      </div>

    <% end %>
    <div class="content_body">
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <ul>
      <li id="faq-link">FAQ<li>
      <li>|<li>
      <li><a href="https://twitter.com/emojisentiment" target="_blank">Twitter</a><li>
  </div>

  <!-- Text is hidden till user clicks on FAQ above -->
  <div id="faq-text">
    <div class="about">
      <div class="title">
        <p> Frequently Asked Questions </p>
      </div>
      <div class="description_about">
        <p>
          <strong>Why Emojis?</strong> As our world becomes increasingly digital and fast-paced, emojis are
          becoming more and more popular. According to these <a href="http://www.statista.com/statistics/476354/reasons-usage-emojis-internet-users-us/statistics"
          target="_blank">statistics</a> over 70% of people feel that emojis more accurately express what they
          are thinking. More accuracy means a better tool to measure sentiment.
        <p>
          <strong>What is Sentiment?</strong> <a href="http://dictionary.cambridge.org/us/dictionary/english/sentiment"
           target="_blank"> The Cambridge Academic Content Dictionary</a> defines it as, "a general feeling,
            attitude, or opinion about something". With #EmojiSentiment we take this one step further, by
            analyzing the top 3 tweets for your brand we give you a sentiment score from 0 - 100; 0 being
            the worst attitude towards something and 100 being the best possible attitude towards something.
            Using our tool, you can complement your other sentiment analysis suites with an additional insight.

        </p>

      </div>
    </div>
  </div>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
