<!DOCTYPE html>
<html>
<head>
  <title>EmojiSentiment</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/zrc0tqc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://use.fontawesome.com/935af6820b.js"></script>
</head>

<body>

  <div class="wrap">
    <div class="header">
        <ul class="navigation">
          <li><%= link_to 'HOME', root_path %></li>
          <li><%= link_to 'WHY', root_path %></li>
          <li><%= link_to 'ABOUT', root_path %></li>
          <li><%= link_to 'CONTACT', root_path %></li>
        </ul>
        <ul class="sign_up_out">
          <% if user_signed_in? %>
                Hello, <%= current_user.name %> <%= current_user.last_name %>
            <li><%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
            <li><%= link_to "LOG IN", new_user_session_path %></li>
            <li><%= link_to "SIGN UP", new_user_registration_path %></li>
          <% end %>
        </ul>
    </div>



    <div class="content_body">
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <ul>
      <li>FAQ<l1>
      <li>|<l1>
      <li><a href="https://twitter.com/emoji_sentiment" target="_blank">Twitter</a><l1>
      <li>|</li>
      <li><a href="https://facebook.com/">Facebook</a><l1>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
